* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
.main-title {
    position: relative;
    display: inline-block;
}
.main-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: -15px;
    background-color: #ffc107;
}
.main-title::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffc107;
    bottom: -20px;
    right: 45%;
    border: 3px solid white;
}
/* Start Header */
.navbar {
    box-shadow: 1px 2px 5px #4444442f;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.navbar-brand img {
    width: 50px;
}
.navbar .nav-link {
    display: inline;
}
.navbar svg {
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ffc107;
    padding: 5px;
    border-radius: 5px;
}
/* End Header */
/* Start Home */
.home {
    position: relative;
    height: 650px;
    background-image: url(../images/cover.jpg);
    background-size:cover;
}
.home-item {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    max-width: 50%;
    margin-right: auto;
}
.home-item h2 {
    color: #fff;
    font-size: 30px;
}
.home-item p {
    color: #fff;
    font-size: 20px;
    max-width: 400px;
}
/* End Home */
/* Strat About */
.about-item p {
    line-height: 35px;
}
/* End About */
/* Start News */
.news-left {
    display: flex;
}
.news-left img {
    max-width: 80px;
    margin-left: 10px;
}
/* End News */
/* Start Subscribe */
.subscribe {
    height: 450px;
    background-image: url(../images/subscribe-jpg.jpg);
    background-size: cover;
    position: relative;
}
.subscribe-item {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subscribe-item .form input {
    width: 80%;
}
.subscribe-item .form button {
    width: 18%;
    padding: 5px;
}
@media (max-width: 768px) {
    .subscribe-item {
        width: 80%;
    }
    .subscribe-item .form {
        flex-direction: column;
    }
    .subscribe-item .form input {
        width: 100%;
    }
    .subscribe-item .form button {
        width: 100%;
    }
}
/* End Subscribe */
/* Start Footer */
.footer {
    background-color: #071c33;
}
.footer .footer-1 img {
    width: 100px;
}
.footer .footer-2 li {
    margin-bottom: 20px;
}
.footer .footer-4 li a{
    color: white;
    font-size: 30px;
}
.copy-footer {
    display: flex;
    background-color: #04101e ;
    padding: 15px;
    position: relative;
}
.copy-footer .left-copy a {
    float: left;
}
/* End Footer */